<ds-list-template>
  <ds-header
    header-content
    [config]="configUI.header"
    (buttonEvent)="goToAddProduct()"
  />

  @if (hasProductsLoaded()) {
    <ds-search-box
      search-box-content
      [value]="paginationSortVM.searchTerm$()"
      [placeholder]="configUI.placeholderInputSearch"
      (valueChange)="onSearchChange($event)"
      (clear)="clearSearch()"
    />
  }

  @if (getProductsVM.state().loading) {
    <ds-loading loading-content [text]="configUI.textLoading" />
  }

  @if (getProductsVM.state().error) {
    <ds-error-services-list
      error-service-content
      [configButton]="configUI.buttonServiceError"
      (retry)="retry()"
      [errorMessage]="getProductsVM.state().error!"
    />
  }

  @if (hasProductsLoaded() && paginatedProducts().length > 0) {
    <ds-data-table
      table-content
      [config]="tableConfig()"
      (sort)="onTableSort($event)"
    />
  }

  @if (totalPages() > 1) {
    <ds-paginator
      paginator-content
      [config]="paginatorConfig()"
      (pageChange)="onPageChange($event)"
    />
  }

  @if (
    hasProductsLoaded() &&
    filteredAndSortedProducts().length === 0 &&
    paginationSortVM.searchTerm$()
  ) {
    <ds-empty-state
      search-not-content
      [message]="emptySearchMessage()"
      textBtn="Limpiar búsqueda"
      (click)="clearSearch()"
    />
  }

  @if (isEmptyInventory()) {
    <ds-empty-state
      not-results-content
      message="No hay productos en el inventario"
      textBtn="Agregar primer producto"
      (click)="goToAddProduct()"
    />
  }
</ds-list-template>
